*.pyc
*.egg-info
*.pt
*.pth
*.zip
*.tar.gz
*.render*
*.ply
*.png
*.safetensors
*.npy


**/__pycache__/

.vscode
ckpts

/checkpoints
/logs
/outputs
/utils/debug.py
/configs/data/full.yaml
*_check/
/utils
/inputs
/utils/benchmark
/utils/calc
/all_outputs
/small_vln_n1_4
examples
resize_demo_imgs.py
img_dir_to_video.py
demo_gradio.py
example.py
pyproject.toml
assets/*.gif
assets/*.mp4assets/*.gif
assets/*.mp4
assets/*.gif
assets/*.mp4
